@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
}

body:before {
    content: '';

}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: square(30% at right 70%);
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.container {
    color: #fff;
    width: 380px;
    background: #fff;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
    /* glassmorphic part starts here */
    box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    z-index: 1;
    border-radius: 10px;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.container h3 {
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 0px 10px 20px rgb(0, 0, 0, 0.2);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .input {
    border: none;
    outline: none;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    z-index: 1;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    color: #fff;
}

.container p {
    text-shadow: 0px 10px 20px rgb(0, 0, 0, 0.1);
}

.container button {
    border-radius: 5px;
    background: #161623;
    color: #fff;
    padding: 10px 15px;
    border: none;
    outline: none;
    position: relative;
    margin-top: 20px;
    transition: 0.3s ease;
}

.container input::placeholder {
    color: rgb(253, 253, 253)128, 123, 123);
}

.container button:active {
    transform: scale(0.9);
    transition: 0.3s ease;
    background: linear-gradient(#f00, #f0f);
}

.container .result {
    font-size: 20px;
    position: relative;
    top: 20px;
    text-shadow: 0px 10px 20px rgb(0, 0, 0, 0.2);
}